@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-inter: 'Inter Variable', sans-serif;

  --breakpoint-ax: 1300px;
  --breakpoint-bx: 1000px;
  --breakpoint-cx: 900px;
  --breakpoint-dx: 600px;
  --breakpoint-ex: 400px;
  --breakpoint-fx: 720px;
  --breakpoint-gx: 1500px;

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .subtle-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #0d60dd transparent;
  }

  .subtle-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .subtle-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .subtle-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 999px;
  }

  .subtle-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}